@{
    ViewBag.Title = "Home Page";
}

<div class="field">
    <div id="sudoku">
        <div class="parentCube">
            <div class="childCube">@ViewBag.Lbl00</div>
            <div class="childCube">@ViewBag.Lbl10</div>
            <div class="childCube">@ViewBag.Lbl20</div>
            <div class="childCube">@ViewBag.Lbl01</div>
            <div class="childCube">@ViewBag.Lbl11</div>
            <div class="childCube">@ViewBag.Lbl21</div>
            <div class="childCube">@ViewBag.Lbl02</div>
            <div class="childCube">@ViewBag.Lbl12</div>
            <div class="childCube">@ViewBag.Lbl22</div>
        </div>
        <div class="parentCube">
            <div class="childCube">@ViewBag.Lbl30</div>
            <div class="childCube">@ViewBag.Lbl40</div>
            <div class="childCube">@ViewBag.Lbl50</div>
            <div class="childCube">@ViewBag.Lbl31</div>
            <div class="childCube">@ViewBag.Lbl41</div>
            <div class="childCube">@ViewBag.Lbl51</div>
            <div class="childCube">@ViewBag.Lbl32</div>
            <div class="childCube">@ViewBag.Lbl42</div>
            <div class="childCube">@ViewBag.Lbl52</div>
        </div>
        <div class="parentCube">
            <div class="childCube">@ViewBag.Lbl60</div>
            <div class="childCube">@ViewBag.Lbl70</div>
            <div class="childCube">@ViewBag.Lbl80</div>
            <div class="childCube">@ViewBag.Lbl61</div>
            <div class="childCube">@ViewBag.Lbl71</div>
            <div class="childCube">@ViewBag.Lbl81</div>
            <div class="childCube">@ViewBag.Lbl62</div>
            <div class="childCube">@ViewBag.Lbl72</div>
            <div class="childCube">@ViewBag.Lbl82</div>
        </div> <br />
        <div class="parentCube">
            <div class="childCube">@ViewBag.Lbl03</div>
            <div class="childCube">@ViewBag.Lbl13</div>
            <div class="childCube">@ViewBag.Lbl23</div>
            <div class="childCube">@ViewBag.Lbl04</div>
            <div class="childCube">@ViewBag.Lbl14</div>
            <div class="childCube">@ViewBag.Lbl24</div>
            <div class="childCube">@ViewBag.Lbl05</div>
            <div class="childCube">@ViewBag.Lbl15</div>
            <div class="childCube">@ViewBag.Lbl25</div>
        </div>
        <div class="parentCube">
            <div class="childCube">@ViewBag.Lbl33</div>
            <div class="childCube">@ViewBag.Lbl43</div>
            <div class="childCube">@ViewBag.Lbl53</div>
            <div class="childCube">@ViewBag.Lbl34</div>
            <div class="childCube">@ViewBag.Lbl44</div>
            <div class="childCube">@ViewBag.Lbl54</div>
            <div class="childCube">@ViewBag.Lbl35</div>
            <div class="childCube">@ViewBag.Lbl45</div>
            <div class="childCube">@ViewBag.Lbl55</div>
        </div>
        <div class="parentCube">
            <div class="childCube">@ViewBag.Lbl63</div>
            <div class="childCube">@ViewBag.Lbl73</div>
            <div class="childCube">@ViewBag.Lbl83</div>
            <div class="childCube">@ViewBag.Lbl64</div>
            <div class="childCube">@ViewBag.Lbl74</div>
            <div class="childCube">@ViewBag.Lbl84</div>
            <div class="childCube">@ViewBag.Lbl65</div>
            <div class="childCube">@ViewBag.Lbl75</div>
            <div class="childCube">@ViewBag.Lbl85</div>
        </div> <br />
        <div class="parentCube">
            <div class="childCube">@ViewBag.Lbl06</div>
            <div class="childCube">@ViewBag.Lbl16</div>
            <div class="childCube">@ViewBag.Lbl26</div>
            <div class="childCube">@ViewBag.Lbl07</div>
            <div class="childCube">@ViewBag.Lbl17</div>
            <div class="childCube">@ViewBag.Lbl27</div>
            <div class="childCube">@ViewBag.Lbl08</div>
            <div class="childCube">@ViewBag.Lbl18</div>
            <div class="childCube">@ViewBag.Lbl28</div>
        </div>
        <div class="parentCube">
            <div class="childCube">@ViewBag.Lbl36</div>
            <div class="childCube">@ViewBag.Lbl46</div>
            <div class="childCube">@ViewBag.Lbl56</div>
            <div class="childCube">@ViewBag.Lbl37</div>
            <div class="childCube">@ViewBag.Lbl47</div>
            <div class="childCube">@ViewBag.Lbl57</div>
            <div class="childCube">@ViewBag.Lbl38</div>
            <div class="childCube">@ViewBag.Lbl48</div>
            <div class="childCube">@ViewBag.Lbl58</div>
        </div>
        <div class="parentCube">
            <div class="childCube">@ViewBag.Lbl66</div>
            <div class="childCube">@ViewBag.Lbl76</div>
            <div class="childCube">@ViewBag.Lbl86</div>
            <div class="childCube">@ViewBag.Lbl67</div>
            <div class="childCube">@ViewBag.Lbl77</div>
            <div class="childCube">@ViewBag.Lbl87</div>
            <div class="childCube">@ViewBag.Lbl68</div>
            <div class="childCube">@ViewBag.Lbl78</div>
            <div class="childCube">@ViewBag.Lbl88</div>
        </div>
    </div>
    <div class="buttons">
        Rij:
        <select name="row">
            <option value="1" selected="selected">1</option>
            <option value="2">2</option>
            <option value="3">3</option>
            <option value="4">4</option>
            <option value="5">5</option>
            <option value="6">6</option>
            <option value="7">7</option>
            <option value="8">8</option>
            <option value="9">9</option>
        </select><br />
        Kolom:
        <select name="column">
            <option value="1" selected="selected">1</option>
            <option value="2">2</option>
            <option value="3">3</option>
            <option value="4">4</option>
            <option value="5">5</option>
            <option value="6">6</option>
            <option value="7">7</option>
            <option value="8">8</option>
            <option value="9">9</option>
        </select><br />
        Waarde:
        <select name="value">
            <option value="0" selected="selected">Leeg</option>
            <option value="1">1</option>
            <option value="2">2</option>
            <option value="3">3</option>
            <option value="4">4</option>
            <option value="5">5</option>
            <option value="6">6</option>
            <option value="7">7</option>
            <option value="8">8</option>
            <option value="9">9</option>
        </select><br />
        <input type="submit" value="Vul In" /><br />
        <button id="Hint">Hint</button><br />
        <button id="Controleer">Controleer Alles</button><br />
        <button id="Reset">Reset Spel</button><br />
        <button id="Nieuw">Nieuw Spel</button><br />
        <button id="Cheat">Cheat Knop</button><br />
    </div>

    @{
        var alert = "";
        if (IsPost)
        {
            var row = Request["row"];
            var column = Request["column"];
            var value = Request["value"];
            var total = row.AsInt() + column.AsInt() + value.AsInt();
            alert = "Total: " + total;
        }
    }

    <script type="text/javascript">
        $(document).ready(function () {
            $("#Vul In").click(function () {
                alert(@alert);
            })
        })
    </script>
</div>